{% extends 'base.html.twig' %}
{% block body %}
	<h1>Ajouter un Ingr´edient</h1>
	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.photo) }}
	{{ form_row(form.quantity) }}
	{{ form_row(form.save) }}
	{% if form_errors(form) %}
		<div class="alert alert-danger">
			{{ form_errors(form) }}
		</div>
	{% endif %}
	{{ form_end(form) }}
{% endblock %}
